<div class="container" style="margin-top: 90px">
  <div class="row">
    <div class="col-sm-12 login-form">
      <h3 class="text-muted text-center color-blue border-bottom pb-5">
        Politica de confidentialitate
      </h3>
      <div class="terms col-sm-12">
        <section>
          <p>Politica de confidentialitate</p>
          <p>Ultima actualizare: martie 2021</p>
          <br />
          <h6>I. Informații generale</h6>
          <br />
          <br />
          <p>
            Confidențialitatea datelor dumneavoastră cu caracter personal
            reprezintă una dintre preocupările principale ale - cu următoarele
            website-uri: -, cu sediul în Bucuresti, Romania, în calitate de
            operator de date.
          </p>
          <p>
            Acest document are rolul de a vă informa cu privire la prelucrarea
            datelor dumneavoastră cu caracter personal, în contextul utilizării
            paginilor de internet -, intitulate în continuare drept „Site-ul”.
          </p>
          <br />
          <br />
          <h6>II. Categoriile de date cu caracter personal prelucrate</h6>
          <br />
          <br />
          <p>
            II.1. Dacă sunteți client al Site-ului, - va prelucra datele
            dumneavoastră cu caracter personal, cum ar fi nume şi prenume,
            telefon, adresa de e-mail, adresa de facturare, adresa de livrare,
            date referitoare la modul în care utilizați Site-ul, de exemplu
            comportamentul/preferinţele/obişnuințele dumneavoastră în cadrul
            site-ului, precum și orice alte categorii de date pe care le
            furnizați în mod direct în contextul creării contului de utilizator,
            în contextul plasării unei comenzi prin intermediul site-ului sau în
            orice alt mod care rezultă din utilizarea Site-ului.
          </p>
          <br />
          <p>
            Dacă pentru a vă crea cont de utilizator pe Site, utilizați contul
            dumneavoastră de Facebook sau Google, site-ul va prelucra
            următoarele date publice de profil afişate de aplicaţiile
            respective: nume utilizator, adresa de e-mail.
          </p>
          <br />
          <p>
            În cazul în care alegeți să vă creați cont de utilizator doar
            înainte de a finaliza comanda unui produs disponibil pe Site, se va
            solicita adresa dumneavoastră de e-mail în baza căreia va fi creat
            automat un cont. În cazul în care nu finalizați comanda, adresa de
            e-mail și celelalte date furnizate nu vor fi stocate de - iar contul
            creat va fi șters automat.
          </p>
          <br />
          <p>
            II.2. Dacă sunteți vizitator al Site-ului, va prelucra datele
            dumneavoastră cu caracter personal pe care le furnizați în mod
            direct în contextul utilizării Site-ului, cum ar fi datele pe care
            le furnizați în cadrul secțiunii de contact / întrebări /
            reclamații, în măsura în care ne contactați în acest fel.
          </p>
          <br />
          <br />
          <h6>III. Scopurile și temeiurile prelucrării</h6>
          <br />
          <br />
          <p>
            III.1. Dacă sunteți client al Site-ului prelucrează datele
            dumneavoastră cu caracter personal astfel:
          </p>
          <ul>
            <li>
              pentru desfășurarea relației contractuale dintre dumneavoastră şi
              -, respectiv pentru preluarea, validarea, expedierea şi facturarea
              comenzii plasate pe Site, informarea dumneavoastră asupra stării
              comenzii, organizarea returului de produse comandate etc.
            </li>
          </ul>
          <p>
            Temei: Prelucrarea datelor dumneavoastră în acest scop are la bază
            contractul încheiat între dumneavoastră și -, definit în cuprinsul
            Termenelor și Condițiilor, Furnizarea datelor dumneavoastră cu
            caracter personal este necesară pentru executarea acestui contract.
            Refuzul furnizării datelor poate avea drept consecință
            imposibilitatea derulării raporturilor contractuale dintre
            dumneavoastră și -:
          </p>
          <ul>
            <li>
              Pentru îndeplinirea obligațiilor legale care incumbă - în
              contextul serviciilor prestate prin intermediul Site-ului,
              inclusiv a obligațiilor în materie fiscală, precum și în materie
              de arhivare.
            </li>
          </ul>
          <p>
            Temei: Prelucrarea datelor dumneavoastră pentru acest scop este
            necesară în baza unor obligații legale. Furnizarea datelor
            dumneavoastră în acest scop este necesară. Refuzul furnizării
            datelor poate avea drept consecință imposibilitatea - de a respecta
            obligațiile legale care îi revin și deci în imposibilitatea de a vă
            oferi serviciile prin intermediul Site-ului.
          </p>
          <br />
          <p>
            Vă puteți exprima consimțământul pentru prelucrarea datelor în acest
            scop prin bifarea căsuței corespunzătoare de la momentul la
            secțiunea Informațiile contului meu. Pentru dezabonarea de la
            primirea unor astfel de comunicări comerciale puteți folosi opţiunea
            de la finalul fiecărui e-mail conţinând comunicări comerciale. În
            plus, puteți să vă dezabonați prin accesarea secțiunii Informațiile
            contului meu.
          </p>
          <br />
          <p>
            Furnizarea datelor dumneavoastră în acest scop este voluntară.
            Refuzul furnizării consimțământului pentru prelucrarea datelor
            dumneavoastră în acest scop nu va avea urmări negative pentru
            dumneavoastră.
          </p>
          <p>
            III.2. Dacă sunteți vizitator al Site-ului, - prelucrează datele
            dumneavoastră cu caracter personal astfel:
          </p>
          <ul>
            <li>
              pentru activităţi de marketing, respectiv pentru transmiterea,
              prin intermediul mijloacelor de comunicare la distanţă (e-mail,
              sms), de comunicări comerciale privind produsele şi serviciile
              oferite de -, prin intermediul Site-ului.
            </li>
          </ul>
          <p>
            Vă puteți exprima consimțământul pentru prelucrarea datelor în acest
            scop prin completarea și bifarea căsuței corespunzătoare din
            formularul pentru abonarea la newsletter disponibil pe Site. Pentru
            dezabonarea de la primirea unor astfel de comunicări comerciale
            puteți folosi opţiunea de la finalul fiecărui e-mail/ sms conţinând
            comunicări comerciale.
          </p>
          <p>
            Furnizarea datelor dumneavoastră în acest scop este voluntară.
            Refuzul furnizării consimțământului pentru prelucrarea datelor
            dumneavoastră în acest scop nu va avea urmări negative pentru
            dumneavoastră.
          </p>
          <br /><br />
          <h6>IV. Durata pentru care vă prelucrăm datele</h6>
          <br /><br />
          <p>
            Ca principiu, - va prelucra datele dumneavoastră cu caracter
            personal atât cât este necesar pentru realizarea scopurilor de
            prelucrare menționate mai sus.
          </p>
          <p>
            În cazul în care sunteți client, vom prelucra datele dumneavoastră
            pe întreaga durată a raporturilor contractuale și ulterior conform
            obligaţiilor legale care revin în sarcina- (de ex., în cazul
            documentelor justificative financiar-contabile pentru care termenul
            de păstrare prevăzut de lege este de 10 ani de la data încheierii
            exerciţiului financiar în cursul căruia au fost întocmite).
          </p>
          <p>
            În situaţia în care sunteți client și vă exercitați opțiunea de
            ştergere a contului de utilizator, prin apăsarea butonul Ștergere
            cont din secțiunea Informațiile contului meu,- va interpreta această
            acțiune ca opțiunea dumneavoastră de a vă dezabona de la primirea de
            comunicări comerciale prin care vă ținem la curent despre produsele
            și serviciile oferite prin intermediul site-ului. În acest sens,
            dacă alegeți să vă ștergeți contul de utilizator, nu vă vom mai
            trimite e-mailuri și/sau sms-uri de acest gen. Totuși, dorim să vă
            informăm că ștergerea contului nu va avea ca efect automat ștergerea
            datelor dumneavoastră cu caracter personal. În cazul în care doriți
            să nu vă mai fie prelucrate datele cu caracter personal sau dacă
            doriți ștergerea datelor, vă puteți exercita drepturile detaliate la
            punctul VII de mai jos.. În cazul în care solicitați ştergerea
            contului, însă pe acel cont există cel puţin o comandă activă,
            cererea de ştergere a contului va putea fi înregistrată numai după
            livrarea produselor şi finalizarea ultimei comenzi active.
          </p>
          <br /><br />
          <h6>V. Dezvăluirea datelor cu caracter personal</h6>
          <br /><br />
          <p>
            Pentru îndeplinirea scopurilor de prelucrare, - poate dezvălui
            datele dumneavoastră către parteneri, către terțe persoane sau
            entități care sprijină - în desfășurarea activității prin
            intermediul Site-ului (de exemplu firme de curierat, furnizori de
            servicii IT), ori către autoritățile publice centrale/locale, în
            următoarele cazuri exemplificativ enumerate:
          </p>
          <ul>
            <li>pentru administrarea Site-ului;</li>
            <li>
              în situațiile în care această comunicare ar fi necesară pentru
              atribuirea de premii sau alte facilități persoanelor vizate,
              obținute ca urmare a participării lor la diverse campanii
              promoționale organizate de către - prin intermediul Site-ului;
            </li>
            <li>
              pentru menținerea, personalizarea și îmbunătățirea Site-ului și a
              serviciilor derulate prin intermediul lui;
            </li>
            <li>
              pentru efectuarea analizei datelor, testarea și cercetarea,
              monitorizarea tendințelor de utilizare și activitate, dezvoltarea
              caracteristicilor de siguranță și autentificarea utilizatorilor;
            </li>
            <li>
              pentru transmiterea de comunicări comerciale de marketing, în
              condițiile și limitele prevăzute de lege;
            </li>
            <li>
              atunci când dezvăluirea datelor cu caracter personal este
              prevăzută de lege etc.
            </li>
          </ul>
          <br /><br />
          <h6>VI. Transferul datelor cu caracter personal</h6>
          <br /><br />
          <p>
            Datele cu caracter personal furnizate către - pot fi transferate în
            afara României, dar doar către state din Uniunea Europeană.
          </p>
          <br /><br />
          <h6>VII. Drepturile de care beneficiați</h6>
          <br /><br />
          <p>
            În condițiile prevăzute de legislația în materia prelucrării datelor
            cu caracter personal, în calitate de persoane vizate, beneficiați de
            următoarele drepturi:
          </p>
          <ul>
            <li>
              dreptul la informare, respectiv dreptul de a primi detalii privind
              activitățile de prelucrare efectuate de către -, conform celor
              descrise în prezentul document;
            </li>
            <li>
              dreptul de acces la date, respectiv dreptul de a obține
              confirmarea din partea - cu privire la prelucrarea datelor cu
              caracter personal, precum și detalii privind activitățile de
              prelucrare precum modalitatea în care sunt prelucrate datele,
              scopul în care se face prelucrarea, destinatarii sau categoriile
              de destinatari ai datelor, etc;
            </li>
            <li>
              dreptul la rectificare, respectiv dreptul de a obține corectarea,
              fără întârzieri justificate, de către - a datelor cu caracter
              personal inexacte/ nejustificate, precum și completarea datelor
              incomplete; Rectificarea/ completarea va fi comunicată fiecărui
              destinatar la care au fost transmise datele, cu excepția cazului
              în care acest lucru se dovedește imposibil sau presupune eforturi
              disproporționate.
            </li>
            <li>
              dreptul la ștergerea datelor, fără întârzieri nejustificate,
              („dreptul de a fi uitat”), în cazul in care se aplică unul dintre
              următoarele motive:
              <ul>
                <li>
                  acestea nu mai sunt necesare pentru îndeplinirea scopurilor
                  pentru care au fost colectate sau prelucrate;
                </li>
                <li>
                  în cazul în care este retras consimțământul și nu există
                  niciun alt temei juridic pentru prelucrare;
                </li>
                <li>
                  în cazul în care persoana vizată se opune prelucrării și nu
                  există motive legitime care să prevaleze;
                </li>
                <li>
                  în cazul în care datele cu caracter personal au fost
                  prelucrate ilegal;
                </li>
                <li>
                  în cazul în care datele cu caracter personal trebuie șterse
                  pentru respectarea unei obligații legale;
                </li>
              </ul>
            </li>
            <li>
              datele cu caracter personal au fost colectate în legătură cu
              oferirea de servicii ale societății informaționale conform
              dreptului Uniunii sau al dreptului intern sub incidenta căruia se
              află operatorul.
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</div>
