<button class="button" [routerLink]="['/home']">← Back</button>
<div class="color-div">
  <div class="container">
    <div class="card text-center">
      <div class="card-header">Despre noi</div>
      <div class="card-body">
        <h5 class="card-title">Cum a inceput totul</h5>

        <p class="card-text">
          Această platformă a pornit chiar la faptul că ne-am lovit de problema
          găsirii profesorilor care să ne pregătească atunci cand aveam nevoie.
          Așa că am gasit aceasta solutie pentru toți elevii care au dificultati
          in a intelege diferite subiecte, probleme, rezolvari. Verificăm
          constant anunțurile și ținem legătura pentru orice fel de problema cu
          utilizatorii noștri, astfel incat totul sa mearga conform
          asteptarilor. Incercam, pe cat posibil sa dam ocazia tuturor, fie
          profesori, fie studenti suficient de bine pregatiti, fie oricarei
          persoane care stapaneste un domeniu, sa ajute alte persoane si sa fie
          activ in dezvoltarea cunostintelor celorlalti.
        </p>
      </div>
      <div class="card-footer text-muted">Impreuna, putem reusi!</div>
    </div>
  </div>
</div>
