<div class="container">
  <img src="/assets/images/telefon.jpg" class="background" />
  <div class="row">
    <div class="col-xs-12">
      <div class="contact">
        <h2>Contacteaza-ne!</h2>
        <div class="par">
          <p>☎️ 0730.794.857</p>
          <p>✉️ randommail@gmail.com</p>
        </div>
        <div class="map">
          <p>Sau...ne gasesti aici!</p>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.473043355652!2d26.145775515741864!3d44.44397050895375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1f929382d2349%3A0x8c6cc1df979cdc5d!2s%C8%98oseaua%20Pantelimon%20225%2C%20Bucure%C8%99ti!5e0!3m2!1sen!2sro!4v1634639524411!5m2!1sen!2sro"
            width="300"
            height="250"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
