<img src="/assets/images/login.jpg" alt="" class="background-login" />
<div class="container" [formGroup]="form">
  <div class="row">
    <div class="col-xl-12" id="main-div">
      <h2>Intra in cont</h2>
      <label for="">E-mail:</label><br />
      <input type="email" formControlName="email" /><br />
      <mat-error
        class="text-error"
        *ngIf="
          form.controls.email.hasError('email') && form.controls.email.dirty
        "
        >Adresa de mail nu este valida!</mat-error
      ><br />
      <label for="">Parola</label> <br />
      <input type="password" formControlName="password" /><br />
      <mat-error
        class="text-error"
        *ngIf="
          form.controls.password.hasError('minlength') &&
          form.controls.password.dirty
        "
        >Parola nu este valida!</mat-error
      ><br />
      <button
        class="btn btn-primary"
        [disabled]="!form.valid"
        (click)="submitUser()"
      >
        LOGARE
      </button>
    </div>
  </div>
</div>
