<div
  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/car1.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="assets/images/car2.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="assets/images/car3.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="assets/images/car4.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="assets/images/car5.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="assets/images/car6.jpg" class="d-block w-100" alt="..." />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="heading">
  <h3>Anunturi sponsorizate</h3>
  <div class="containerSponsored">
    <div class="row">
      <div class="card" style="width: 16rem">
        <img src="assets/images/anunt1.jpeg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Alexandra</h5>
          <p class="card-text">Meditatii Matematica</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Invata usor si cu placere matematica!</li>
          <li class="list-group-item">80RON</li>
          <li class="list-group-item">ONLINE/DOMICILIUL MEDITATORULUI</li>
        </ul>
      </div>
      <div class="card" style="width: 16rem">
        <img src="assets/images/anunt2.jpeg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Mirela</h5>
          <p class="card-text">Meditatii Geografie</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Datorita experientei indelungate in domeniu si metodei de lucru,
            asigur rezultate rapide.
          </li>
          <li class="list-group-item">70RON</li>
          <li class="list-group-item">ONLINE/DOMICILIUL MEDITATORULUI</li>
        </ul>
      </div>

      <div class="card" style="width: 16rem">
        <img src="assets/images/anunt3.jpeg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Bogdan</h5>
          <p class="card-text">Meditatii Matematica</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Profesor de geografie cu experienta, predau pentru studenti incepand
            cu clasele V- XII.
          </li>
          <li class="list-group-item">60RON</li>
          <li class="list-group-item">ONLINE/DOMICILIUL ELEVULUI</li>
        </ul>
      </div>

      <div class="card" style="width: 14rem">
        <img src="assets/images/anunt4.jpeg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Alina</h5>
          <p class="card-text">Meditatii Engleza</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Sunt aici ca să îl îndrum pe copilul tău să dezvăluie tainele limbii
            engleze.
          </li>
          <li class="list-group-item">60RON</li>
          <li class="list-group-item">ONLINE/DOMICILIUL ELEVULUI</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<br />
