body {
  background-color: #d4a171d3;
}
.router-container {
  margin-left: auto;
  margin-right: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.app-container {
  height: 100vh;
  overflow-x: hidden;
}
.main-panel {
  position: relative;
  flex: 1;
}
