<div class="container" style="margin-top: 90px">
  <div class="row">
    <div class="col-sm-12 login-form">
      <h3 class="text-muted text-center color-blue border-bottom pb-5">
        Termeni si conditii
      </h3>
      <section>
        <p>
          Prin bifarea căsuței "Accept" declar ca doresc ca datele mele sa fie
          transmise catre -, in scopul furnizarii de informatii despre produsele
          acestui site. Confirm faptul ca toate informatiile din acest formular
          sunt adevarate si complete. Cunosc faptul ca acest site prelucreaza
          datele mele cu caracter personal in baza prevederilor Legii pentru
          protectia persoanelor, cu privire la prelucrarea datelor cu caracter
          personal si pentru libera circulatie a acestor date. Am fost informat
          ca, in cazul in care nu voi mai fi de acord cu prelucrarea datelor
          mele personale in scop de marketing sau cu cedarea acestora catre
          terti intr-un asemenea scop, am dreptul de a formula un refuz,
          printr-o cerere scrisă în mod electronic via email.
        </p>
        <br />
        <p>
          Declar că am împlinit vârsta de 18 ani și sunt responsabil de orice
          acțiune efectuată pe platforme. Dacă nu am vârsta de 18 ani împlinită,
          folosesc platformele cu acordul și supravegherea părinților și nu
          efectuez plăți online fără supraveghere și informare asupra
          serviciilor achiziționate în prealabil.
        </p>
        <br />
        <p>
          Declar că sunt de acord in mod expres si neechivoc ca acest site să
          prelucreze aceste date cu caracter personal direct sau prin
          intermediul tertilor contractanti in vederea prelucrarii / furnizarii
          de informatii si a derularii oricaror raporturi juridice existente
          intre acest site si subsemnatul.
        </p>
        <p>
          Declar ca mi s-au adus la cunostinta prevederile Legii prin care am
          urmatoarele drepturi: dreptul la informare, dreptul de acces la date,
          dreptul de interventie asupra datelor, dreptul de opozitie, dreptul de
          a nu fi supus unei decizii individuale si dreptul de a ma adresa
          justitiei. Pentru exercitarea acestor drepturi pot contacta acest site
          prin intermediul sectiunii "Contact" din site. De asemenea,
          imputernicesc banca sa furnizeze aceste informatii autoritatilor
          abilitate de lege, la cererea acestora, in conditiile legii.
        </p>
        <br /><br />
        <ol>
          <li>Termeni generali</li>

          <br />
          <p>
            Prezentul document continand termenii si conditiile de utilizare ale
            site-ului stabileste care sunt conditiile in care orice persoana
            poate vizita ori accesa site-ul, ori poate utiliza in orice mod
            serviciile oferite prin intermediul Site-ului.
          </p>
          <p>
            Neacceptarea acestor Termeni si Conditii ori a oricarei prevederi
            din acestia, astfel cum acestia sunt formulate în prezentul act,
            atrage obligatia Utilizatorului de a inceta de indata accesarea
            Site-ului; accesarea sau vizitarea in continuare a Site-ului, a
            oricarei pagini din acesta si / sau utilizarea Serviciului, precum
            si a oricarei componente a acestora constituie o acceptare in
            intregime si neconditionata a Termenilor si Conditiilor si a
            oricarei prevederi din acestia.
          </p>
          <p>
            Prin inregistrare Utilizatorul accepta in intregime si neconditionat
            prevederile acestor Termeni si Conditii si intelege sa utilizeze
            Serviciul in stricta conformitate cu acestea. Utilizatorii care isi
            creaza un cont pe Site inteleg si accepta ca utilizarea contului
            lor, precum si orice accesare sau vizitare a Site-ului, a oricarei
            pagini din acesta si / sau utilizarea Serviciului, precum si a
            oricarei componente a acestora constituie o acceptare in intregime
            si neconditionata a Termenilor si Conditiilor si a oricarei
            prevederi din acestea; neacceptarea Termenilor si Conditiilor de
            catre Utilizatorii mentionati mai sus atrage obligatia acestora de a
            inceta de indata accesarea Site-ului.
          </p>
          <li>Drepturile asupra continutului Site-ului</li>
          <p>
            Continutul si elementele de grafica ale Site-ului, inclusiv dar fara
            a se limita la acestea, intreg continutul in format text si orice
            alt material, transmis sub orice forma de si catre Utilizatori (prin
            vizualizare directa pe Site, prin newslettere sau prin orice alte
            materiale legate direct sau indirect de Site) apartin
            Administratorului Site-ului si reprezinta continutul Site-ului. Prin
            derogare de la prevederea precedenta nu apartin Administratorului
            Site-ului acele materiale pentru care pe Site s-a indicat un alt
            titular de drepturi, ori un alt detinator sau o alta sursa,
            informatiile furnizate Utilizatori, sau opiniile si / sau
            comentariile de orice fel exprimate de Utilizatorii Site-ului fata
            de materialele de orice fel postate pe Site sau fata de Continutul
            Site-ului in general. Utilizatorul se obliga sa respecte toate
            drepturile de autor si orice alte drepturi de proprietate
            intelectuala pe care Administratorul Site-ului detin asupra / in
            legatura cu Site-ul, continutul acestuia, Serviciul, orice modul sau
            componenta a acestora sau in legatura cu utilizarea acestora.
          </p>
        </ol>
      </section>
    </div>
  </div>
</div>
